* {box-sizing: border-box;}

body {
  font-family: sans-serif;
  font-size: 2vmax;
}

a {
  display: block;
  margin: .5rem 0;
  padding: .5rem 0;
}

input {
  border-radius: .5rem;
  padding: .5rem;
  box-shadow: none;
  border: 2px solid cornflowerblue;
}

button {
  cursor: pointer;
}

div[id^="vue-app"] {
  padding: 1rem;
  border-top: 1px solid #000;
  &:first-child {
    border: none;
  }
}

.title {
  color: #4FC08D;
  font-size: 2.33em;
  text-decoration: underline;
}

#vue-app-2 {
  #canvas {
    width: 100%;
    max-width: 600px;
    padding: 8rem 2rem;
    text-align: center;
    border: 1px solid #333;
  }
}

#vue-app-6 {
  span {
    background: red;
    display: inline-block;
    padding: 10px;
    color: #fff;
    margin: 10px 0;
  }

  .available {
    span {
      background: green;
    }
  }

  .nearby {
    span {
      &:after {
        content: 'nearby';
        margin-left: 10px;
      }
    }
  }
}
